/*odsazení mainu kvůli headeru*/
.main {
  margin-top: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*nastavení pozic obrázků*/
.obrazek{
  position: absolute;
  left: 40px;
  top: 130px;
  width: 216px;
}
/*nastavení pozic obrázků*/
.obrazek2{
  position: absolute;
  right: 40px;
  bottom: 100px;
}
/*obrázky zmizí aby nepřekážely pokud se zmenší okno*/
@media only screen and (max-width: 850px) {
  .obrazek, .obrazek2{
    visibility: hidden;
  }
}
