.obrazek {
  position: absolute;
  left: 40px;
  top: 130px;
  width: 216px;
}

.obrazek2 {
  position: absolute;
  right: 40px;
  bottom: 100px;
}

.main {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 150px;
}

form {
  margin: auto;
  z-index: 2;
}

.input {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: right;
}

.label {
  padding: 0px 12px 24px 0;
  display: inline-block;
}

.label2 {
  padding: 12px 12px 24px 0;
  display: inline-block;
}

form {
  width: 400px;
}

.chyba {
  border-color: red;
}

.vyber {
  float: right;
  width: 200px;
  height: 100%;
}

textarea {
  margin-bottom: 20px;
  width: 195px !important;
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 30%;
  clear: left;
  clear: right;
  margin-top: 10px;
}

@media only screen and (max-width: 850px) {
  .obrazek, .obrazek2 {
    visibility: hidden;
  }
