.main {
  margin: 100px 80px;
}

div h1 {
  margin-top: 100px;
}

div.broz p{
  float: left;
  text-align: justify;
  text-indent: 60px;
  letter-spacing: 2px;
  font-size: 120%;
  font-family: 'Indie Flower', cursive;
}

div.broz h1 {
  float:left;
  clear:right;
  font-family: 'Indie Flower', cursive;
}

#channel, #chanel{
  float:right;
  margin-left:70px;
  width: 400px;
  border-radius: 10px;
}
div.celenka h1 {
  float:right;
  clear:left;
  font-family: 'Indie Flower', cursive;
}

div.celenka p{
  float: right;
  text-align: justify;
  text-indent: 60px;
  letter-spacing: 2px;
  font-size:120%;
  font-family: 'Indie Flower', cursive;
}

#celenka {
  float:left;
  width: 400px;
  margin-right:70px;
  margin-bottom: 30px;
  border-radius: 10px;
}
